{{# partial "contenido" }}
    <section class="section-registrar">
        <div class="container__registro">
            <div class="registro">
                <form action="/caracteristicas/{{caracteristica.id}}" method="POST">
                    <div class="detalle_caracteristica">
                        <h2>Edite caracteristica</h2>
                        <div>
                            <label class="registro__label"
                                   style="display:inline-block; width: 150px">Descripción:</label>
                            <input type="text" name="descripcion" class="registro__input"
                                   id="descripcion" style="display:inline-block" value="{{caracteristica.descripcion}}" required>
                        </div>
                        <div>
                            <label class="registro__label"
                                   style="display:inline-block;  width: 150px">Obligatoria:</label>
                            <select name="obligatoria" class="registro__input" id="obligatoria"
                                    style="display:inline-block" required>
                                <option value="SI">SI</option>
                                <option value="NO">NO</option>
                            </select>
                        </div>
                        <div>
                            <label class="registro__label" style="display:inline-block;  width: 150px">Tipo de
                                Caracteristica: </label>
                            <label name="tipoCaracteristica" class="registro__input" id="tipoCaracteristica" style="display:inline-block;"> {{caracteristica.tipoPregunta}} </label>
                            <ul>
                                  {{#each caracteristica.opciones}}
                                        <li>
                                            <label class="registro__label" style="display:inline-block;  width: 150px">Opcion {{@index}}:</label>
                                            <input type="text"
                                                name="opcion-{{@index}}"
                                                class="registro__input"
                                                id="opcion-{{@index}}"
                                                style="display:inline-block"
                                                value={{descripcion}}
                                            >
                                            {{#if @index}}
                                            <button onclick=salvarYagregarOpcion(this)><i class="fas fa-plus"></i></button>
                                            {{/if}}
                                            <button onclick=eliminarOpcion(this)><i class="fas fa-minus"></i></button>
                                        </li>
                                  {{/each}}
                            </ul>
                        </div>
                    </div>
                    <div>
                        <input type="submit" class="boton-submit" value="Salvar Caracteristica">
                    </div>
                    <div id="informacion">
                        <div class="informacion-flex">
                            <p>
                                {{error}}
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <script>
        let caracteristicas = document.querySelector('div.detalle_caracteristica');
        const opcion = `
            <label class="registro__label" style="display:inline-block;  width: 150px"></label>
            <input type="text"
                   name="opcion"
                   class="registro__input"
                   id="opcion"
                   style="display:inline-block"
            >`
        const agregarOpcionBoton = `
            <button onclick=salvarYagregarOpcion(this)><i class="fas fa-plus"></i></button>
        `

        const sacarOpcionBoton = `
            <button onclick=eliminarOpcion(this)><i class="fas fa-minus"></i></button>
        `

        const salvarYagregarOpcion = (element) => {
            const input = element.parentElement.querySelector('input');
            input.setAttribute('value', input.value);

            caracteristicas.querySelectorAll('li').forEach((item) => {
                const input = item.lastElementChild
                input.setAttribute('value', input.value);
            })

            agregarOpcion();
        }

        const agregarOpcion = () => {
            caracteristicas.querySelector('ul').innerHTML += `<li>${opcion}</li>`
            renameItems();
            renderBotonesOpciones();
        }

        const eliminarOpcion = (element) => {
            element.parentElement?.remove()
            renameItems();
            renderBotonesOpciones()
        }
        const renameItems = () => {
          caracteristicas.querySelectorAll('li').forEach((item, index) => {
                        const input = item.querySelector('input');
                        input.setAttribute('value', input.value);
                        input.setAttribute('id', `opcion-${index + 1}`);
                        item.querySelector('label').innerText = `Opcion ${index + 1}`;
          })
        }
        const renderBotonesOpciones = () => {
            const lis = caracteristicas.querySelectorAll('li');
            lis.forEach((li, index) => {
                li.querySelectorAll('button')?.forEach(button => button.remove())
                if (index === 0 && lis.length === 1) {
                    li.innerHTML += agregarOpcionBoton;
                    return;
                }
                if (lis.length === (index + 1)) {
                    li.innerHTML += agregarOpcionBoton + sacarOpcionBoton;
                    return;
                }
                li.innerHTML += sacarOpcionBoton
            })
        }
    </script>
{{/partial}}
{{# partial "footer" }}
{{/partial}}

{{> layout.html.hbs }}