<!DOCTYPE html>
<html>
<head>
	<title>
		Rescate de Patitas
	</title>
	<link rel="stylesheet" type="text/css" href="/css/estilos.css">
	<link rel="stylesheet" type="text/css" href="/css/normalize.css">
	<link rel="icon" href="/imagenes/icono-principal.png">
	<meta charset="utf-8">
	<meta name="keywords" content="Mascotas, Gato, Perro, Mascota perdida, adopción">
	<meta name="description" content="Gestión de Mascotas perdidas, encontradas o propias">
	<meta name="author" content="DDS2021">
	<meta name="copyrigth" content= "DDS2021">
	<meta name="robots" content="index">
	<meta name="robots" content="follow">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
	<link rel = "preconnect" href = "https://fonts.gstatic.com">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://kit.fontawesome.com/a2beca5d14.js" crossorigin="anonymous"></script>
</head>
<body>
		<header id="principio">
			<div class="encabezado">
				<a href="/"><img class="logo-inicio" src="/imagenes/icono-principal.png"></img></a>
				<h1>Rescate de Patitas</h1>
			</div>
			<nav class="menu">
				<ul class="menu__menu">
					<li class="menu__menu__li"><i class="fas fa-home"></i>
						<a href="/"><h3>Inicio</h3></a>
					</li>
					{{#if usuarioCreadorCaracteristicas}}
					<li class="menu__menu__li"><i class="fas fa-highlighter"></i>
					    <a href="/caracteristicas"><h3>Administrar Características</h3></a>
					</li>
					{{else}}
					<li class="menu__menu__li"><i class="fas fa-paw"></i>
					    {{#if sesionIniciada}}
						<a href="/mascotas"><h3>Mis Mascotas</h3></a>
						{{else}}
						<a href="/login"><h3>Mis Mascotas</h3></a>
						{{/if}}
					</li>
					<li class="menu__menu__li"><i class="fas fa-paw"></i>
					    {{#if sesionIniciada}}
						<a href="/encontreMascota"><h3>Encontre una Mascota</h3></a>
						{{else}}
						<a href="/login"><h3>Encontre una Mascota</h3></a>
						{{/if}}
					</li>
                    {{/if}}
                    <li class="menu__menu__li"><i class="fas fa-sign-in-alt"></i>
						{{#if sesionIniciada}}
                        <a href="/logout"><h3>Cerrar Sesión</h3></a>
                        {{else}}
                        <a href="/login"><h3>Iniciar Sesión</h3></a>
                        {{/if}}
					</li>
				</ul>
				<ul class="menu__responsive">
					<div class="menu__responsive-boton-container">
						<div class="menu__responsive-boton fas fa-bars"></div>
					</div>
					<div class="menu__responsive__div">
						<li class="menu__responsive__div__li"><i class="fas fa-home"></i>
							<a href="/"><h2>Inicio</h2></a>
						</li>
                        {{#if usuarioCreadorCaracteristicas}}
                        <li class="menu__menu__li"><i class="fas fa-highlighter"></i>
                            <a href="/caracteristicas"><h3>Administrar Características</h3></a>
                       	</li>
                        {{else}}
						<li class="menu__responsive__div__li"><i class="fas fa-paw"></i>
						    {{#if sesionIniciada}}
							<a href="/mascotas"><h2>Mis Mascotas</h2></a>
							{{else}}
                            <a href="/login"><h2>Mis Mascotas</h2></a>
                            {{/if}}
						</li>
						<li class="menu__responsive__div__li"><i class="fas fa-paw"></i>
						    {{#if sesionIniciada}}
							<a href="/encontreMascota"><h2>Encontré Mascota</h2></a>
							{{else}}
							<a href="/login"><h2>Encontré Mascota</h2></a>
							{{/if}}
						</li>
                        {{/if}}
                        <li class="menu__responsive__div__li"><i class="fas fa-sign-in-alt"></i>
							{{#if sesionIniciada}}
                            <a href="/logout"><h3>Cerrar Sesión</h3></a>
                            {{else}}
                            <a href="/login"><h3>Iniciar Sesión</h3></a>
                            {{/if}}
						</li>
					</div>
				</ul>
			</nav>
		</header>

		{{# block "contenido" }}
        {{/block}}

{{# block "footer" }}
		<footer>
        				<div class="footer">
        					<div class="footer__ubicacion">
        						<img src="/imagenes/icono-principal.png" height="50px">
        						<div class="footer__ubicacion__contenido">
        							<h6>Direccion de Prueba 123</h6>
        							<h6>Ciudad Autónoma de Bs.As.</h6>
        							<h6>Buenos Aires, Argentina</h6>
        						</div>
        					</div>
        					<div class="footer__contacto">
        						<h5>Contacto:</h5>
        						<div class="footer__contacto__contenido">
        							<h6>Móvil 1: +54 011 9999-9999</h6>
        							<h6>Móvil 2: +54 011 8888-8888</h6>
        							<h6>Mail: info@lasercom.com.ar</h6>
        						</div>
        					</div>
        					<div class="footer__redes">
        						<h5>Nuestras Redes:</h5>
        						<div class="footer__redes__contenido">
        							<div>
        								<a href="https://www.facebook.com/" target="_BLANK">
        									<img src="/imagenes/facebook.png">
        								</a>
        								<a href="https://www.facebook.com/" target="_BLANK"><h6 class="boton_redes">Facebook</h6></a>
        							</div>
        							<div>
        								<a href="https://www.instagram.com/" target="_BLANK">
        									<img src="/imagenes/instagram.png">
        								</a>
        								<a href="https://www.instagram.com/" target="_BLANK"><h6 class="boton_redes">Instagram</h6></a>
        							</div>
        							<div>
        								<a href="https://mercadolibre.com.ar" target="_BLANK">
        									<img src="/imagenes/carrito.jpg">
        								</a>
        								<a href="https://mercadolibre.com.ar" target="_BLANK"><h6 class="boton_redes">Tienda Online</h6></a>
        							</div>
        						</div>
        					</div>
        				</div>
        			<div class="copyright">
        				<p>Rescate de Patitas @Copyright - Todos los derechos reservados a DDS2021</p>
        			</div>
        		</footer>
{{/block}}
</body>
</html>